body{
	font-family: museo, sans-serif;
	font-size: 1.1rem;
	min-width: 360px;
	font-weight: normal;
	position: relative;
	margin: 3rem 0;
	line-height: 1.5;
	overflow-x: hidden;
	opacity: 1;
	color: #1d1d1f;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*{
	outline: none;
	font-family: museo, sans-serif;
}
b, strong{
	font-weight: bold;
}
a{
	text-decoration: none;
	color: #0037ff;
}
a:hover{
	border-bottom: 1px solid;
}
p{
	margin: .8rem 0 0 1px;
}
*::selection{
	color: #fff;
	background: #000;
}
*::-moz-selection{
	color: #fff;
	background: #000;
}
*::-webkit-selection{
	color: #fff;
	background: #000;
}
header h1{
	font-size: 2.7rem;
	margin: 0;
}
.body h2{
	font-size: 2rem;
	margin: 1.8rem 0 0;
	color: #333;
}
.body h3{
	margin: 1.8rem 0 0;
	color: #333;
}
a.smile{
	font-weight: bold;
}
a.smile:hover{
	border: none;
}